---
nav_exclude: true
layout: page
status: publish
published: true
title: Vancouver
author:
  display_name: cqwww
  login: cqwww
  email: kris@onedaywebsite.ca
  url: ''
author_login: cqwww
author_email: kris@onedaywebsite.ca
wordpress_id: 61
wordpress_url: http://www.ideasmeetings.org/?page_id=61
date: '2016-04-13 16:38:47 -0700'
date_gmt: '2016-04-13 20:38:47 -0700'
categories: []
tags: []
comments: []
---

<style>
.chapter-layout  { display: flex; gap: 2.5em; align-items: flex-start; }
.chapter-info    { flex: 0 0 32%; }
.chapter-minutes { flex: 1; min-width: 0; }
@media (max-width: 640px) { .chapter-layout { flex-direction: column; } }
details summary { cursor: pointer; color: #555; font-size: 0.9em; margin-top: 0.5em; }
details ul { margin-top: 0.4em; font-size: 0.9em; }
</style>

<div class="chapter-layout">

  <div class="chapter-info">
    <p>You don't have to have an idea to join us. We're a social group who help each other make ideas happen. Our meetings average 10–15 people.</p>
    <p>We mostly use the <a href="https://www.facebook.com/ideasvan">Facebook Page</a> and <a href="https://www.meetup.com/VanTechFounders/">Meetup group</a> to announce events. When you're at a meeting, ask to be added to the Slack group.</p>

    <h4>Projects:</h4>
    <ul>
      <li><a href="http://awesomeshitclub.com/">Awesome Shit Club</a></li>
      <li>Custom Ad Blocker</li>
      <li>Disruptive Art</li>
      <li><a href="/2015/07/08/channel-bonding-project/">Channel Bonding</a></li>
      <li><a href="/2015/11/09/biofeedback-sensors/">Biofeedback Sensors</a></li>
      <li><a href="https://www.krisconstable.com/founders-coffee/">Founders Coffee</a></li>
      <li><a href="/vancouver/wellness/">Data Driven Wellness</a></li>
      <li>Dating App/Game/Events</li>
    </ul>

    <details>
      <summary>Project notes from meetings</summary>
      <ul>
      {% for post in site.categories.Projects %}
        {% assign post_year = post.date | date: '%Y' %}
        {% unless post_year < '2015' %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endunless %}
      {% endfor %}
      </ul>
    </details>
  </div>

  <div class="chapter-minutes">
    <h4>Minutes:</h4>
    <p style="font-size:0.85em; color:#666;">If you'd like to take minutes, see the <a href="./GitGuideMM.pdf">guide</a>.</p>
    <ul>
    {% for post in site.categories.Vancouver %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  </div>

</div>
