---
layout: page
status: publish
published: true
title: Vancouver
author:
  display_name: cqwww
  login: cqwww
  email: kris@onedaywebsite.ca
  url: ''
author_login: cqwww
author_email: kris@onedaywebsite.ca
wordpress_id: 61
wordpress_url: http://www.ideasmeetings.org/?page_id=61
date: '2016-04-13 16:38:47 -0700'
date_gmt: '2016-04-13 20:38:47 -0700'
categories: []
tags: []
comments: []
---

<p>You don't have to have an idea to join us. We're a social group who tries to help each other make our ideas happen. You can be any age, ethnicity, and identify as any gender, you just have to be willing to contribute constructively.</p>
<p> New to Vancouver? We'e a great place to meet fellow creative and innovative folks. Our meetings average 10-15 people, however we've had some meetings be over 30. </p>

<p>We mostly use the <a href="https://www.facebook.com/ideasvan">Facebook Page</a> and <a href="https://www.meetup.com/VanTechFounders/"> Vancouver Founders meetup.com group</a> to announce events.
</p>
<p> When you're at the next meeting, be sure to ask to be added to the members Slack/chat group. </p>

<table style="width:100%">
 <tr>
<h4>Minutes:</h4>

<p>Minutes are taken and published by volunteers at each of the ideas meetings. If you would like to take the minutes for one of the meetings the following <a href="./GitGuideMM.pdf">guide</a> provides a set of basic instructions.</p>

<p> For minutes before March 2016, check the <a href="http://archive.ideasmeetings.org/wiki/VancouverChapter"> archives wiki </a>

<ul>
{% for post in site.categories.Vancouver %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}	
</ul>
</tr>
  <tr>
<h4>Projects:</h4>
<ul>
{% for post in site.categories.Projects %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
<ul>
<li><a href="http://awesomeshitclub.com/">Awesome Shit Club</a> (Kris, +10 others)</li>
<li>Custom Ad Blocker (Kris, Alanna, Nolan)</li>
<li>Disruptive Art (Paul, Kris)</li>
<li><a href="http://archive.ideasmeetings.org/wiki/Channel_Bonding_project">Channel Bonding</a> (Clayten, Kiko, Kris)</li>
<li><a href="http://archive.ideasmeetings.org/wiki/Biofeedback_sensors">Biofeedback Sensors</a> (Kris, +10 others)</li>
<li>Founders Coffee (Kris, Luke + 4 others - This project has gone offline and is invite only)</li>
<li>Dating App/Game/Events (Luke, Kris, Kurtis, Alanna + 3 others)</li>
</ul>
 </tr>
</table>
